body,
#content {
  margin: 0;
  padding: 0;
}

#content > header > .header-image {
  background-repeat: no-repeat;
  height: 224px;
  background-color: blue;
}

#content > header > .header-image > .header-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.473);
}

#content > header > .header-image > .header-text > h1,
#content > header > .header-image > .header-text > a {
  font-size: 1.2rem;
  padding: 10px 10px 5px 10px;
  font-weight: bold;
}

#content > header > .header-image > .header-text > h1:hover,
#content > header > .header-image > .header-text > a:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.651);
}