/* --- HEADER --- */

body,
#content {
  margin: 0;
  padding: 0;
}

#content > header > .header-image {
  background-repeat: no-repeat;
  height: 224px;
  background-color: blue;
}

#content > header > .header-image > .header-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.473);
}

#content > header > .header-image > .header-text > h1,
#content > header > .header-image > .header-text > a {
  font-size: 1.2rem;
  padding: 10px 10px 2px 10px;
  font-weight: bold;
}

#content > header > .header-image > .header-text > h1:hover,
#content > header > .header-image > .header-text > a:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.651);
}

/* --- MAIN --- */

main {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

/* --- ARTICLE --- */
article {
  width: 65%;
}

/* --- PRESENTATION --- */

.presentation {
  max-width: 25%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 2px 2px black;
}

.presentation > h2 {
  text-align: center;
  background-color: rgb(239, 241, 109);
  margin: 0;
  padding: 10px 0 0 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.presentation > img {
  width: 100%;
  height: auto;
  border: 5px solid rgb(239, 241, 109);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-sizing: border-box;
}

.presentation > p {
  padding: 5px 10px 0 10px;
}